@import "tailwindcss";

/* .wrapper {
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    background-color: white;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  } */
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 1000px;
  }


  